/* .row {
  display: flex;
  flex-wrap: wrap;
}
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
} */
// .row.image-container {
//   min-height: 600px;
//   border: 1px solid lightgray;
//   padding: 1em;
//   &.mini {
//     min-height: 200px;
//     border: none;
// padding: 1em;
//   }
// }
